plugins {
  id 'nf-schema@2.0.0'
}

profiles {
  standard {
      includeConfig 'configs/imb.config'
      includeConfig 'workflows/guide2go/nextflow.config'
  }
}

manifest {
    name = 'guide2go'
    description = 'Find CRISPR guides in larger genomic regions'
    author = 'Patrick Hüther (huether@imb-mainz.de)'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    nextflowVersion = '!>=23.10.0'
}
