plugins {
  id 'nf-schema@2.0.0'
}

profiles {
  standard {
    includeConfig 'configs/imb.config'
  }
  singularity {
    includeConfig 'configs/imb.config'
    includeConfig 'configs/singularity.config'
  }
}

includeConfig 'workflows/guide2go/nextflow.config'

manifest {
    name = 'guide2go'
    description = 'Find CRISPR guides in larger genomic regions'
    author = 'Patrick Hüther (huether@imb-mainz.de)'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    nextflowVersion = '!>=23.10.0'
}

// set defaults
params.help = false
params.WINDOW_SIZE = 40000
params.TARGET_SIZE = 20
params.ORGANISM = 'hg38'
params.OUT = './results'
params.SCORING_METHOD = 'DOENCH_2016'