process {
    withName: CHOPCHOP {
        container  = "registry.gitlab.rlp.net/imbforge/imb-registry/chopchop@sha256:87f4dc3e226476dc872fb1eb18a845f5084eca3c8cdf47b8c3d83dfaee493a9f"
        executor   = "local"

        cpus         = 4
        time         = 1.h
        memory       = 6.GB

        publishDir = { "${params.OUT}/chopchop" }
    }
}
