process {
    withName: BEDTOOLS_MAKEWINDOWS {
        container  = "registry.gitlab.rlp.net/imbforge/imb-registry/bedtools@sha256:6c1938f92ae215dae3f13101877d68b517442d5fad0bf064408265a0cd4025be"

        cpus         = 1
        time         = 1.h
        memory       = 4.GB

        publishDir = { "${params.OUT}/windows" }
    }

    withName: BEDTOOLS_INTERSECT {
        container  = "registry.gitlab.rlp.net/imbforge/imb-registry/bedtools@sha256:6c1938f92ae215dae3f13101877d68b517442d5fad0bf064408265a0cd4025be"

        cpus         = 1
        time         = 1.h
        memory       = 4.GB

        publishDir = { "${params.OUT}/filtered" }
    }
}
