process {
    withName: BEDTOOLS_MAKEWINDOWS {
        container  = "registry.gitlab.rlp.net/imbforge/imb-registry/bedtools@sha256:28bdd1c0b6e59cb55d167dadbdf391ac04096a0442c637ba53eb42ba330c392b"

        cpus         = 1
        time         = 1.h
        memory       = 4.GB

        publishDir = { "${params.OUT}/windows" }
    }

    withName: BEDTOOLS_INTERSECT {
        container  = "registry.gitlab.rlp.net/imbforge/imb-registry/bedtools@sha256:28bdd1c0b6e59cb55d167dadbdf391ac04096a0442c637ba53eb42ba330c392b"

        cpus         = 1
        time         = 1.h
        memory       = 4.GB

        publishDir = { "${params.OUT}/results" }
    }
}
