process {
    withName: BEDTOOLS_MAKEWINDOWS {
        cpus       = 1
        time       = 1.h
        memory     = 4.GB
        publishDir = { "${params.OUT}/windows" }
    }

    withName: BEDTOOLS_INTERSECT {
        cpus       = 1
        time       = 1.h
        memory     = 4.GB
        publishDir = { "${params.OUT}/results" }
    }
}
