
executor {
    name      = 'slurm'
    jobName   = { task.process.split(':').last() }
}

process {
    errorStrategy = 'retry'
    maxRetries    = 3
    shell         = ['/usr/bin/env', 'bash', '-ue', '-o', 'pipefail']
    cache         = 'lenient'
    scratch       = '/jobdir/$SLURM_JOB_ID'

    queue = "groups".execute().text.contains('imb-bioinfocf')
          ? { task.time <= 5.h ? 'bcfshort' : 'bcflong' }
          : { task.time <= 5.h ? 'short' : 'long' }

    withName: "BEDTOOLS_.*" {
       module = 'shpc:bedtools/2.31.1r0'
    }

    withName: "CHOPCHOP" {
        module = "shpc:chopchop/2e9cfc9r0"
    }
}
