
executor {
    name      = 'slurm'
    jobName   = { task.process.split(':').last() }
}

process {
    errorStrategy = 'retry'
    maxRetries    = 3
    shell         = ['/usr/bin/env', 'bash', '-ue', '-o', 'pipefail']
    cache         = 'lenient' // workaround for lagging nfs timestamps

    queue = { task.time <= 5.h ? 'short' : 'long' }

}

singularity {
    enabled = true
}
