singularity.enabled = true

process {
    withName: "BEDTOOLS_.*" {
        container  = "registry.gitlab.rlp.net/imbforge/imb-registry/bedtools@sha256:28bdd1c0b6e59cb55d167dadbdf391ac04096a0442c637ba53eb42ba330c392b"
    }

    withName: "CHOPCHOP" {
        container  = "registry.gitlab.rlp.net/imbforge/imb-registry/chopchop@sha256:c2440f54cd9afbb311731693211dfba45884490d7f7c82457179b71d5cab4844"
    }
}